* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background: radial-gradient(ellipse at top left, #fd7b10, transparent),
    radial-gradient(ellipse at bottom right, #ea1da9, transparent);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%
    }
}

header, footer {
    background-color: rgba(1, 1, 1, .2);
    color: white;
    display: flex;
}

header p {
    margin-left: 10px;
    margin-right: auto;
}

header ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 10px
}

footer p {
    margin-left: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

form input:nth-child(1) {
    max-width: 30%;
}

form input:nth-child(2) {
    max-width: 50%;
}

form button {
    width: 100px;
    margin-left: auto;
}

h1, h2, h3, h4, h5, h6, p, ul {
    color: white;
    padding: 10px
}